# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Arquivos do projeto
output/*.nc
images/*.png
images/*.jpg
cnc_pro.log
*.pyc

# Sistema
Thumbs.db
.DS_Store
.vercel
